body {
  background-color: #FDF5E6;
  font-size: 1.15rem;
}

ul.nav {
	list-style-type:none;
	margin:0;
	padding: 0;
	overflow: hidden;
	float:left;
}

ul.nav li {
	float: left;
	}
	
ul.nav li a {
	display: block;
	text-align: center;
	padding: 5px;
	border: 1px solid lightgray;
	border-radius: 10px;
	background-color: #F9EFD5;
	margin-right: 10px;
}

ul.nav li a:hover {
	background-color: 	rgba(193, 123, 123, 0.1);
	}

h1 {
    text-align: center;
    font-size: 3rem;
    font-family: Calibri, Verdana, sans-serif;
    padding-right: 10%;
    padding-left: 10%; 
}

.intro {
    margin: 50px;
    max-width: 900px;
    font-size: 1.15rem;
    font-family: Calibri, Verdana, sans-serif;
    margin-left: 200px;
}

ul {
    list-style-type: circle;
}

table {
    width: 100%;
    padding-right: 80px;
    padding-left: 80px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 50px;
    border-collapse: separate;
    border-spacing: 100px;
}

th {
    font-size: 2.5rem;
    font-family: verdana;
    color: gray;
}

table.split {
    width: 100%;
    padding: 0px;
}

td {
    vertical-align: top;
}

td.narrow {
    width: 8%;
}

td.smaller {
    font-size: 1rem;
    text-align: center;
}

tr {
    padding-top: 30px;
}

.roman {
    font-family: courier, fixed, monospace;
}

span.bigname {
    font-size: 3rem;
    color: brown;
}

span.person {
    color: brown;
}

span.plats {
    color: brown;
}

td.faksimil {
    max-width: 50%;
    vertical-align: top;
}

img.faksimil {
    width: 100%;
}

td.text {
    width: 50%;
    padding-left: 20px;
    vertical-align: top;
}

td.spalt {
    vertical-align: top;
    font-size: 1.05rem;
}

.front {
    text-align: center;
}

.right {
    text-align: right;
}

h2 {
    text-align: center;
}

h2.mid {
    text-align: left;
    margin-left: 40px;
}

p.figDesc {
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 0px;
}

div.banners {
    text-align: center;
    font-size: 1rem;
}

.bigverse {
    font-size: 1.5rem;
}

.indent {
    margin-left: 40px;
}

.longindent {
    margin-left: 200px;
}

.catch {
    text-align: right;
}

div.note {
    text-align: center;
    color: lightgray;
    padding-top: 40px;
}
div.notetop {
    text-align: right;
    color: lightgray;
}